@page "/pay"

@using Microsoft.AspNetCore.Authorization
@layout MainLayout
@attribute [Authorize]

<PageTitle>PayService</PageTitle>


<h1>Integration with external payment services is possible here, but this was not implemented within the framework of the course.</h1>
